////////
///   HELPERS
///////

@function em($px, $context: $default-font-size) {
	@return ($px/$context)+0em;
}

@function rem($px) {
	@return em($px, $browser-font-size);
}
 
////////////////////////////////////////////////////////////////////////////////////////////////////////
///   CONFIG
///////

$browser-font-size: 16px;  // DONT'T CHANGE
$default-font-size: 16px;
$line-height: 1.6em;

$cols-number: 12;
$gutter-width: 30px;
$resp-width: 100%;
$max-width: 1280px;

$small: 0;
$medium: rem(600px);
$large:	rem(900px);
$xlarge: rem(1200px);

$breakpoints: (

('small'	, 	$small)
('medium'	, 	$medium)
('large' 	, 	$large)
('xlarge' 	, 	$xlarge)

);

$red: #D35400;
$blue: #5299C7;
$green: #27AE60;
// $yellow: #FFCF15;
$yellow: #ffc200;
$pale-yellow: #ffe388;
$color1: #ffffff;
$color-bg: #ffffff;
$color-fg: #333;
$color-a: $color-fg;
$color-ahover: lighten($color-a, 10%);
$color-h: $color-fg;

$color-select: $yellow;

// $font-stack: Arial, sans-serif;
$font-stack: 'Roboto', Arial, sans-serif;


$ie-fallback: false !default;

///////
///   CONFIG END
////////////////////////////////////////////////////////////////////////////////////////////////////////

////////
///   RESPONSIVE
///////

@mixin respond($size) {
	@if ( $size != 0 and $ie-fallback == false ) {
		@media (min-width: $size) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin upto($size) {
	@media (max-width: $size) {
		@content;
	}
}

////////
///   GRID MODULE
///////


$gutter-half: $gutter-width / 2;

@function cols-width($n) {
	@return percentage($n / $cols-number);
}

@mixin cols($n) {
	width: cols-width($n);
}

.wrapper {
	width: $resp-width;
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 $gutter-width;
	height: 100%;

}

.row {
	margin-left: -$gutter-half;
	margin-right: -$gutter-half;
}

.col {
	width: 100%;
	display: block;
	padding-left: $gutter-half;
	padding-right: $gutter-half;
	float: left;
}

.clear, .row {
	zoom: 1; /* IE < 8 */
	overflow: none;
	&:before, &:after {
    	content:' ';
    	display:table;
	}
	&:after {
    	clear:both;
	}
}

////////
///   CSS RENDERING
///////

/*------------------------------------*\
	RESET
\*------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------*\
	GENERAL
\*------------------------------------*/

*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	font-size: $default-font-size;
	font-family: $font-stack;
	color: $color-fg;
	background: $color-bg;
	line-height: $line-height;
	// -webkit-font-smoothing:antialiased;
	// font-smoothing:antialiased;
}

img {
	max-width:100%;
	vertical-align:bottom;
}

a {
	text-decoration: none;
	transition: color 0.5s, border-color 0.5s;
	color: $color-a;

	&:focus {
		outline:0;
	}
	&:hover, &:active {
		outline:0;
	}
}

